.cont-desc {
    background-color: #fff;
    height: 100px;
    margin-bottom: 20px;
    padding: 17px 17px 0px 26px;
    /* border-bottom: 1px solid rgb(166, 166, 166); */
}

.cont-form-editarPerfil {
    height: auto;
    background-color: #fff;
    padding: 20px 30px 0px 30px;
}
.cont-form-editarPerfil form {
    width: 400px;
    height: 350px;
    margin: 0px auto;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
}
.cont-form-editarPerfil form label {
    margin-top: 12px;
}
.cont-form-editarPerfil form input {
    height: 47px;
    padding-left: 15px;
    outline: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}
.cont-form-editarPerfil form div {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-form-editarPerfil form div button {
    height: 38px;
    width: 100px;
    font-size: 15px;
    background-color: darkblue;
    color: #fff;
    border: 1px solid darkblue;
    border-radius: 5px;
    margin-right: 13px;
    cursor: pointer;
    transition: background-color .5s ease;
}
.cont-form-editarPerfil form div button:hover {
    background-color: #fff;
    color: darkblue;
}
.cont-form-editarPerfil form div a {
    background-color: gray;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 38px;
}


@media screen and (max-width:542px){
    .cont-form-editarPerfil form{
        width: auto;
    }
}

@media screen and (max-width:400px){
    .cont-form-editarPerfil form{
        padding: 0px;
    }
}
